/* 마이페이지 div */
.mypage-body {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  height: 800px;
  margin-block: 25px;
  margin-inline: auto;

  h1 {
    font-family: var(--main-font);
    font-size: 24px;
    margin-bottom: 20px;
  }
}

/* 프로필 정보 묶음 div */
.profile-information-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family: var(--sub-font-medium);
  width: 100%;
  height: 535px;
  box-shadow: 0 4px 15px var(--c-lavender-200);
  border-radius: 25px;
}

/* 프로필 정보 */
.profile-information {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-inline: 65px;
  padding-block: 40px 20px;

  .profile-img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
  }
  .nickname {
    color: var(--text-navy);
    font-size: 20px;
    font-family: var(--main-font);
  }
  .email {
    color: var(--text-lavender);
    margin-block: 5px;
  }
  .etc {
    color: var(--text-darksky);
  }

  figure {
    display: flex;
    align-items: center;
    margin-top: 10px;

    svg {
      width: 36px;
      height: 32px;
      margin-right: 8px;
    }
  }
  figcaption {
    font-family: var(--sub-font-bold);
    color: var(--text-lavender);
  }
}

/* 프로필 이미지와 수정 버튼을 감싸는 div */
.profile-img-wrapper {
  position: relative;
  margin-right: 20px;
}

/* 수정 버튼 */
.pencil-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 5px;
  right: 0px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid var(--border-navy);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }
}

/* 사용자 정보 - 모바일 */
.user-info-mobile {
  width: 100%;
}

/* 사용자 정보 - 데스크탑 */
.user-info-desktop {
  display: none;
}

/* 내 소개 - 모바일 */
.my-introduce-mobile {
  font-size: 14px;
  width: 90%;
  max-width: 410px;
  min-width: 320px;
  dt {
    font-size: 16px;
    width: 100%;

    margin-bottom: 10px;
  }

  dd {
    border: 5px solid var(--border-lavender);
    border-radius: 25px;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    /* 줄바꿈 */
    white-space: pre-line;
    overflow: scroll;
  }
}

/* 북마크, 참여 모임 조회 그룹 div */
.history-meetings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 20px 25px;
  font-size: 20px;
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  width: 90%;
  max-width: 410px;
  min-width: 320px;
  height: 100px;

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* 양쪽 균등하게 분배 */
  }

  /* p태그 바로 다음에 오는(직계자식) span을 뜻함 */
  > span {
    color: var(--border-lavender);
    font-size: 40px;
    font-weight: 100px;
  }
}

/* 관심 모임, 참여 완료 적용 text */
.meetings-text {
  font-family: var(--sub-font-medium);
  margin-bottom: 5px;
}

/* 관심 모임, 참여 완료 밑 숫자 적용 text */
.meetings-number {
  font-family: var(--main-font);
}

/* 북마크, 내가 참여한 모임 버튼 */
.history-button {
  font-size: 16px;
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 90%;
  max-width: 400px;

  /* Link 컴포넌트에서 렌더링하는 태그 */
  a {
    flex: 1;
    max-width: 150px;
  }

  button {
    width: 100%;
    height: 45px;
    color: var(--text-black);
    border-radius: 20px;
    cursor: pointer;
  }
}

/* 북마크 배경 */
.btn-bookmark {
  background-color: var(--bg-lavender);
}

/* 관리하기 배경 */
.btn-manage {
  background-color: var(--c-slateblue-300);
}

/* 참여 모임 배경 */
.btn-attend-meetings {
  background-color: var(--bg-sky);
}

/* 1024px 이상 반응형 */
@media (min-width: 1024px) {
  .mypage-body {
    max-width: 850px;
    height: 1080px;
  }

  .profile-information-div {
    width: 100%;
    max-width: 850px;
    height: 600px;
  }

  .user-info-desktop {
    display: block;
  }

  .user-info-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .my-introduce-desktop {
    width: 450px;
    height: 110px;
    border: 5px solid var(--border-lavender);
    border-radius: 50px 50px 50px 0;
    padding: 20px;
    font-size: 18px;
    color: var(--text-navy);
    margin-top: 15px;
    line-height: 20px;
    white-space: pre-line;
    overflow: scroll;
  }

  .user-info-mobile,
  .my-introduce-mobile {
    display: none;
  }

  .profile-information {
    .profile-img {
      width: 220px;
      height: 220px;
      border-radius: 50%;
    }
    .nickname {
      font-size: 24px;
    }
    .email {
      font-size: 24px;
    }
    .etc {
      font-size: 24px;
    }

    figure {
      svg {
        width: 54px;
        height: 47px;
        margin-right: 8px;
      }
    }

    figcaption {
      color: var(--text-lavender);
      font-size: 24px;
    }
  }

  .pencil-btn {
    right: 20px;
  }

  .history-meetings {
    width: 100%;
    max-width: 710px;
    height: 142px;

    .meetings-text {
      font-size: 24px;
    }

    .meetings-number {
      font-size: 28px;
    }

    > span {
      font-size: 50px;
    }
  }

  .history-button {
    font-size: 20px;
    gap: 50px;
    max-width: 630px;

    a {
      max-width: 260px;
    }

    button {
      width: 100%;
      height: 60px;
    }
  }
}
