/* 신청자 목록 body */
.manage-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding-inline: 20px;
  margin-inline: auto;
  margin-bottom: 25px;
}

/* 관리 페이지 title */
.manage-title {
  font-family: var(--main-font);
  font-size: 20px;
  margin-block: 25px 20px;
}

/* 신청자 div */
.applicant-div {
  width: 100%;
  height: 100%;
  background-color: var(--bg-lightlavender);
  border-radius: 25px;
}

.profile-img-mobile {
  border-radius: 50px;
}
.profile-img-desktop {
  display: none;
}
.applicant-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-inline: 20px;
}

/* 신청자 정보 div */
.applicant-information {
  font-family: var(--sub-font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  img {
    width: 60px;
    height: 60px;
  }

  span {
    font-size: 20px;
    color: var(--text-navy);
    white-space: nowrap;
  }

  figure {
    font-size: 12px;
    color: var(--text-lavender);
    display: flex;

    svg {
      width: 32px;
      height: 29px;
      margin-right: 4px;
    }
  }
}

.btn-div {
  display: flex;
  font-size: 16px;
  justify-content: center;
  gap: 10px;

  button {
    width: 100px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
  }
}

/* 승인 */
.btn-approve {
  background-color: var(--border-lavender);
  font-family: var(--main-font);
}

/* 거절 */
.btn-no {
  color: var(--text-white);
  background-color: var(--bg-navy);
  font-family: var(--main-font);
}

/* 질문에 대한 답변 div */
.question-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
  font-family: var(--sub-font-medium);
  padding-inline: 20px;

  dt {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--text-lavender);
  }

  dd {
    width: 100%;
    height: 150px;
    background-color: var(--bg-white);
    border-radius: 25px;
    border: 5px solid var(--border-lavender);
    padding: 20px;
    font-size: 16px;
  }
}

/* 푸터를 감싸는 div */
.footer-wrapper {
  display: none;
}
@media (min-width: 480px) {
  .applicant-btn-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
  }

  .btn-div {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    button {
      width: 70px;
      height: 30px;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}

@media (min-width: 1024px) {
  .manage-body {
    width: 100%;
    max-width: 960px;
  }

  .manage-title {
    font-size: 24px;
  }

  .applicant-div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 95px;
    width: 100%;
    padding: 20px;
  }

  .profile-img-desktop {
    display: block;
    grid-row: 1 / -1; /* 왼쪽 열 전체 높이 차지 */
    width: 200px;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
    margin-block: auto;
    margin-left: 65px;
  }
  .applicant-btn-wrapper {
    margin-inline: 0px;
  }

  .applicant-information {
    padding-top: 0;
    padding-inline: 0;

    span {
      font-size: 32px;
    }
  }

  .question-div-bundle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .question-div {
    padding-inline: 0;
    margin-block: 0;

    dt {
      font-size: 24px;
    }
  }

  .profile-img-mobile {
    display: none;
  }
  .btn-div {
    margin-left: auto;
    gap: 20px;
  }

  .btn-div > button {
    width: 100px;
    height: 35px;
  }

  .footer-wrapper {
    display: block;
  }
}
