/* 필터 전체를 감싸는 div */
.filter-div {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /* 화면보다 넓은 경우 가로 스크롤 */
  overflow-x: auto;
  /* 터치로 스크롤 */
  -webkit-overflow-scrolling: touch;
  /* 스크롤바 숨김: 크기 none */
  scrollbar-width: none;

  /* 스크롤바 숨김: display none */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* select를 감싸는 div */
.wrapper {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 7px;
  border: 3px solid var(--border-sky);
  border-radius: 50px;
  background: var(--bg-white);
  cursor: pointer;
  font-size: 14px;
  font-family: var(--sub-font-medium);
  color: var(--text-navy);
  line-height: 20px;
  width: 100px;
  margin-right: 2%;
  margin-block: 10px;
  overflow: hidden;

  select {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    width: 100%;
    flex: 1;
    z-index: 1;
  }

  /* 날짜 */
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
  }
}

/* 실제 date input을 투명하게 만들고 wrapper 전체를 덮음 */
.dateInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* 달력 아이콘 숨기기 (크롬, 엣지) */
.dateInput::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* 데스크탑인 경우 카테고리 버튼 추가 */
@media (min-width: 1024px) {
  .wrapper {
    margin-right: 20px;
    max-width: 150px;
  }
  .category-display {
    display: inline-flex;
  }
}
