.footer-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 156px;
  background: var(--bg-lavender);
  font-size: 16px;
  color: var(--text-white);

  .policy {
    display: inline-flex;
    gap: 3px;
  }
}
