/* 알림 컴포넌트 */
.alert {
  min-width: 260px;
  display: flex;
  background-color: var(--bg-sky);
  margin: 20px auto;
  border: 5px solid var(--border-darksky);
  border-radius: 25px;

  gap: 20px;
  max-height: 165px;
  position: relative;
  justify-content: left;
  overflow: hidden;
}

.alert svg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* 읽음 처리 */
.alert-read {
  background-color: var(--bg-gray, #d9d9d9);
  opacity: 0.55;
}

/* 이미지 크기 조정 */
.img {
  width: 45%;
  max-width: 170px;
  height: 125px;
  border-radius: 25px;
  object-fit: cover;
  margin: 20px 0 20px 25px;
  flex-shrink: 0;
}

/* 텍스트 크기 조정 */
.txt {
  margin: 20px 25px 20px 0;
  min-width: 0;
  overflow: hidden;
  flex: 1;
}

.txt span {
  font-family: var(--main-font);
  font-size: 1.25em;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* 3줄까지만 보여주기 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트가 줄을 초과할 경우 ...으로 표시 */
  line-height: 25px;
}

.txt p {
  font-family: var(--sub-font-medium);
  padding-top: 10px;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
