/* 알림 디자인 */
.main {
  padding: 25px 20px;
  min-width: 320px;
}

.notifications-wrap {
  margin: 0 auto;
  min-width: 260px;
  max-width: 787px;
  min-height: 650px;
}

.notifications-wrap h2 {
  font-family: var(--main-font);
  font-size: 20px;
  margin-bottom: 20px;
}

.notifications-wrap p {
  font-family: var(--sub-font-medium);
  font-size: 16px;
}

/* 전체 읽음 버튼 */
.btn {
  display: flex;
  gap: 10px;
  justify-content: right;
  /* min-width: 440px; */

  button {
    width: 88px;
    height: 40px;
    background-color: var(--bg-darksky);
    border-radius: 50px;
    font-family: var(--sub-font-medium);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }
}
