@import './style/reset.css';
@import './style/base.css';
@import './style/style.css';

@font-face {
  font-family: 'Cafe24 Ssurround';
  src:
    url('/fonts/Cafe24Ssurround-v2.0.woff2') format('woff2'),
    url('/fonts/Cafe24Ssurround-v2.0.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Gmarket Sans';
  src:
    url('/fonts/GmarketSansTTFMedium.woff2') format('woff2'),
    url('/fonts/GmarketSansTTFMedium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Gmarket Sans Bold';
  src:
    url('/fonts/GmarketSansTTFBold.woff2') format('woff2'),
    url('/fonts/GmarketSansTTFBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Gmarket Sans Medium';
  src:
    url('/fonts/GmarketSansTTFMedium.woff2') format('woff2'),
    url('/fonts/GmarketSansTTFMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Gmarket Sans Light';
  src:
    url('/fonts/GmarketSansTTFLight.woff2') format('woff2'),
    url('/fonts/GmarketSansTTFLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
