/* 지도, 지도 내의 모임 리스트, 필터 */

/* 지도 전체 body */
.map-body {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

/* 지도 */
.map {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  min-width: 320px;
}

/* 마커 클릭 시 나타날 모임 div */
.meeting-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-sky);
  width: 100%;
  max-width: 400px;
  min-height: 200px;
  border: 5px solid var(--border-darksky);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* 모임 정보 div */
.meeting-information {
  display: flex;
  align-items: center;
}

.meeting-information-img {
  width: 140px;
  height: 125px;
}

/* 모임 상세 정보 */
.detail-information {
  margin-left: 40px;
  font-size: 14px;

  h3 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
  }
}

/* 모임 리스트 - Desktop */
.meeting-list {
  display: none;
}

/* 필터 div */
.filter-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 10px;
}

/* 카카오맵 info-window 컴포넌트 CSS */
.marker-info-window {
  border: 3px solid var(--border-darksky);
  border-radius: 20px 20px 0 0;
  background-color: var(--bg-sky);
  height: 90%;
}

/* 메인 지도 마커 오버레이 */
.marker-info-window-main {
  border: 3px solid var(--border-darksky);
  border-radius: 20px;
  background-color: var(--bg-sky);
  width: 100%;
  min-width: 150px;

  .marker-info-content {
    height: 60px;
    gap: 10px;

    .marker-img {
      min-width: 7vw;
      height: 70px;
    }
  }

  .marker-info {
    min-width: 130px;
    font-size: 12px;

    .marker-title {
      font-size: 13px;
    }
  }
}

/* 모바일 오버레이 */
.mobile-overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  max-width: 100vw;
  z-index: 10;

  .marker-info-content {
    gap: 20px;

    .marker-img {
      min-width: 120px;
    }
  }

  .marker-info {
    font-size: 14px;

    .marker-title {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* 마커 정보 div */
.marker-info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 5%;
  gap: 30px;
  height: 50%;

  .marker-img {
    border-radius: 20px;
    object-fit: cover;
    height: 100px;
    width: 30vw;
    max-width: 150px;
  }
}

/* X 닫기 버튼 */
.btn-close {
  display: flex;
  justify-content: flex-end;
  margin-block: 3%;
  margin-right: 3%;
  cursor: pointer;
}

/* 화살표 버튼 */
.btn-arrow {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: 3%;
}

/* 모임 제목 */
.marker-title {
  font-size: 18px;
  font-family: var(--main-font);
  color: var(--text-navy);
  margin-bottom: 5%;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 모임 정보 */
.marker-info {
  font-size: 16px;
  font-family: var(--sub-font-medium);
  color: var(--text-navy);
  line-height: 1.2;
  min-width: 150px;
  overflow: hidden;

  img {
    margin-right: 2%;
    flex-shrink: 0;
  }
  p {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .filter-div {
    position: relative;
    max-width: 1470px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .map-meeting-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2%;
    padding-inline: 20px;
  }

  .none-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--danger-font);
    color: var(--text-gray);
    font-size: 14px;
    padding-left: 10px;
  }

  .meeting-list {
    display: block;
    border: 5px solid var(--border-navy);
    border-radius: 25px;
    margin-right: 2%;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 700px;
    overflow-y: scroll;

    .meeting-info-li-div {
      width: 350px;
      margin-left: 2%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-inline: auto;
      margin-block: 5px;
      padding-bottom: 10px;
      width: 100%;
      max-width: 350px;
      height: 90px;
      border-bottom: 3px solid var(--border-darksky);
      cursor: pointer;

      .meeting-img {
        width: 90px;
        height: 80px;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 25px;
        margin-right: 1%;
      }

      dt {
        font-size: 14px;
        font-family: var(--main-font);
        margin-bottom: 4%;
      }

      dd {
        font-size: 12px;
        font-family: var(--sub-font-medium);
        color: var(--text-gray);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    /* 스크롤 바 */
    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-sky);
      border-radius: 10px;
      border: 5px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-button {
      display: block;
      height: 8px;
    }
  }

  /* 지도 */
  .map {
    border: 5px solid var(--border-navy);
    border-radius: 25px;
    max-width: 1024px;
    height: 700px;
  }

  /* 마커 클릭 시 나타나는 창 */
  .marker-info-window {
    max-width: 300px;
    position: relative;
    min-width: 200px;
    max-height: 150px;
    border-radius: 25px;
  }

  .marker-info-content {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: 5%;

    .marker-img {
      min-width: 120px;
      height: 80px;
      margin-left: 5%;
      object-fit: cover;
    }
  }

  .marker-title {
    font-size: 12px;
    width: 80%;
  }

  .marker-info {
    min-width: 150px;
    font-size: 10px;
  }
}
