.main {
  padding: 30px 20px;
}

.login-wrap {
  margin: 0px auto;
  min-width: 280px;
  max-width: 577px;
}

.logo-img {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.form {
  margin: 40px 0 20px;
}

.label {
  color: var(--text-black);
  text-align: center;
  font-family: 'Cafe24 Ssurround';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fieldset {
  width: 100%;
  min-width: 280px;
  max-width: 577px;
}

.input {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  border: 5px solid var(--border-lavender);
  background: var(--bg-white);
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text-lavender);
  font-family: var(--sub-font-medium);
}

.input::placeholder {
  color: var(--text-lavender);
  font-family: var(--sub-font-medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.field-message {
  color: var(--text-red);
  text-align: center;
  font-family: var(--danger-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  width: 100%;
  background-color: var(--bg-lavender);
  border: var(--border-lavender);
  height: 55px;
  border-radius: 20px;
  margin: 15px 0;
  color: var(--text-navy);
  font-family: var(--main-font);
  cursor: pointer;
}

.a {
  display: flex;
  width: 100%;
  background-color: var(--bg-white);
  border: 5px solid var(--border-lavender);
  height: 55px;
  border-radius: 20px;
  margin: 15px 0 0 0;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  margin-bottom: 20px;
}

.login-help {
  color: var(--text-navy);
  text-align: center;
  font-family: var(--sub-font-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}

@media (min-width: 1024px) {
  .input,
  .btn,
  .a {
    height: 68px;
  }

  .back-btn {
    display: none;
  }

  .login-wrap {
    margin: 80px auto;
  }
}
