:root {
  /* =========================
   * MOA Color Palette (Raw)
   * ========================= */
  --c-red-600: #e60000;

  --c-sky-50: #e8f9ff;

  --c-blue-200: #c4d9ff;
  --c-lavender-200: #c5baff;
  --c-purple-300: #b09ef2;

  --c-indigo-900: #323577;
  --c-black-900: #101010;

  --c-white: #ffffff;

  --c-periwinkle-300: #97aee5;
  --c-slateblue-300: #889cce;

  --c-pink-200: #fcbaff;
  --c-lilac-50: #f2efff;
  --c-gray-100: #949494;

  /* Background */
  --bg-lavender: var(--c-lavender-200);
  --bg-navy: var(--c-indigo-900);
  --bg-white: var(--c-white);
  --bg-lightlavender: var(--c-lilac-50);
  --bg-lightsky: var(--c-sky-50);
  --bg-sky: var(--c-blue-200);
  --bg-pink: var(--c-pink-200);

  /* Text */
  --text-red: var(--c-red-600);

  --text-navy: var(--c-indigo-900);
  --text-black: var(--c-black-900);
  --text-white: var(--c-white);

  --text-lavender: var(--c-lavender-200);
  --text-darksky: var(--c-slateblue-300);
  --text-gray: var(--c-gray-100);
  --text-pink: var(--c-pink-200);
  --text-sky: var(--c-blue-200);

  /* Border */
  --border-lavender: var(--c-lavender-200);
  --border-navy: var(--c-indigo-900);
  --border-sky: var(--c-blue-200);
  --border-darksky: var(--c-slateblue-300);

  /* Main font*/
  --main-font: 'Cafe24 Ssurround', sans-serif;
  /* Sub font*/
  --sub-font-medium: 'Gmarket Sans Medium', sans-serif;
  --sub-font-bold: 'Gmarket Sans Bold', sans-serif;
  --sub-font-light: 'Gmarket Sans Light', sans-serif;
  /* Danger font */
  --danger-font: 'Noto Sans KR', sans-serif;
}
