.main {
  margin: 30px 20px;
}

.signup-wrap {
  margin: 0px auto;
  min-width: 320px;
  max-width: 577px;
}

.logo-img {
  width: 220px;
  height: 192px;
  background: url('./../../../public/logo/logo.svg') center/cover no-repeat;
  margin: 0 auto;
}

.form {
  margin: 40px 0 20px;
}

.label {
  color: var(--text-black);
  text-align: center;
  font-family: 'Cafe24 Ssurround';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}
.email-fieldset,
.nickname-fieldset,
.region-fieldset,
.age-fieldset,
.gender-fieldset {
  position: relative;
}

.check-btn {
  background-color: var(--bg-navy);
  width: 80px;
  height: 30px;
  border-radius: 20px;
  font-family: var(--sub-font-medium);
  color: var(--text-white);
  line-height: 35px;
  position: absolute;
  right: 20px;
  top: 48px;
}

.input,
.select {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  border: 5px solid var(--border-lavender);
  background: #fff;
  padding: 0 20px;
  font-size: 14px;
}

.input::placeholder,
.select {
  color: var(--text-lavender);
  font-family: 'Gmarket Sans TTF';
  font-size: 14x;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.field-message {
  color: var(--text-red);
  text-align: left;
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 20px;
}

.ok-message {
  display: block;
  margin-bottom: 20px;
  font-family: var(--danger-font) !important;
  color: var(--text-navy);
  padding-left: 10px;
}

.btn {
  width: 100%;
  background-color: var(--bg-lavender);
  border: var(--border-lavender);
  height: 55px;
  border-radius: 20px;
  margin: 15px 0 200px 0;
  font-family: var(--main-font);
}

/* :global(.btn:nth-child(2)) {
  margin-top: 50px;
} */

.a {
  display: flex;
  width: 100%;
  background-color: var(--bg-white);
  border: 5px solid var(--border-lavender);
  height: 55px;
  border-radius: 20px;
  margin: 15px 0 0 0;
  justify-content: center;
  align-items: center;
}
.svg-1,
.svg-2,
.svg-3 {
  right: 20px;
  position: absolute;
  top: 60px;
}

.signup-help {
  color: var(--text-navy);
  text-align: center;
  font-family: 'Gmarket Sans TTF';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}

.field-div {
  display: flexbox;
  justify-content: left;
}

.fieldset-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 10%;
}

.select {
  width: 100%;
}

@media (min-width: 1024px) {
  .input,
  .select,
  .btn,
  .a {
    height: 68px;
    border-radius: 25px;
    font-size: 16px;
  }

  .check-btn {
    width: 88px;
    height: 40px;
    line-height: 43px;
    top: 50px;
  }

  .svg-1,
  .svg-2,
  .svg-3 {
    top: 65px;
  }
}
