/* 모임 등록 */
.wrap {
  padding: 25px clamp(10px, 7vw, 75px);
  overflow-x: hidden;
}
.add-wrap {
  display: flexbox;
  justify-content: center;
  margin: 0 auto;
  min-width: 260px;
  max-width: 974px;
}

.meetings-create h2 {
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.meetings-create label {
  font-family: var(--sub-font-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-right: 15px;
}

.meetings-create input {
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-left: 20px;
  font-family: var(--sub-font-medium);
}

.title-input {
  width: 100%;
  max-width: 864px;
  font-size: 14px;
  height: 45px;
  font-family: var(--sub-font-medium);
}

.content-input {
  width: 100%;
  max-width: 864px;
  min-width: 260px;
  min-height: 92px;
  max-height: 332px;
  border-radius: 25px;
  border: 5px solid var(--bg-lavender);
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: var(--sub-font-medium);
  font-size: 14px;
  line-height: 1.6;
}

.meetings-create select {
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  padding: 0 20px;
  font-family: var(--sub-font-medium);
  font-size: 14px;
}

.category-select {
  width: 190px;
  height: 45px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 20px;
}
.category-div {
  position: relative;

  svg {
    pointer-events: none;
  }
}

.category-fieldset svg {
  position: absolute;
  top: 35px;
  left: 150px;
}

.ractingle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-lavender);
}

.ractingle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--bg-white);
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  margin-top: 20px;
  overflow: hidden;
}

.tag-input {
  width: 100%;
  max-width: 864px;
  font-size: 14px;
  height: 45px;
  font-family: var(--sub-font-medium);
  color: var(--text-lavender);
}

.select-btn {
  width: 90px;
  height: 40px;
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn {
  background-color: var(--bg-lavender) !important;
  display: inline-block;
  cursor: pointer;
}

.field-parent-wrap {
  min-width: 290px;
  max-width: 930px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0 0.01%;
}

.region-fieldset {
  display: flex;
  grid-column: 1/3;
}

.select-btn:nth-child(3) {
  padding: 0 !important;
  grid-column: 1/3;
  margin-top: 0;
  font-size: 14px;
}

.region-fieldset label {
  display: flex;
  align-items: center;
}

.region-input {
  width: 100%;
  font-size: 14px;
  height: 45px;
  font-family: var(--sub-font-medium);
  color: var(--text-lavender);
}

.region-fieldset label {
  width: 30px;
  line-height: 20px;
}

.age-fieldset {
  position: relative;
  display: flex;

  svg {
    pointer-events: none;
  }
}

.age-fieldset label {
  margin-top: 10px;
}

.age-fieldset select {
  text-align: left;
}
.age-fieldset option {
  font-size: 14px;
}
.age-fieldset svg {
  position: absolute;
  top: 13px;
  left: 100px;
}

.gender-fieldset {
  position: relative;
  display: flex;

  svg {
    pointer-events: none;
  }
}

.gender-fieldset label {
  margin-top: 10px;
}

.gender-fieldset select {
  text-align: left;
}
.gender-fieldset option {
  font-size: 14px;
}
.gender-fieldset svg {
  position: absolute;
  top: 13px;
  left: 100px;
}

.date-fieldset {
  display: flex;
  grid-column: 1/3;
}

.date-fieldset label {
  width: 30px;
  display: flex;
  align-items: center;
}

.date-input {
  width: 100%;
  max-width: 864px;
  font-size: 14px;
  height: 45px;
  font-family: var(--sub-font-medium);
  color: var(--text-lavender);
  padding: 0 20px 0 0;
}

.count {
  display: flex;
  gap: 5px;
}

.counter-wrapper {
  border: 5px solid var(--border-lavender);
  border-radius: 25px;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}

.counter-wrapper input {
  border: none;
  text-align: center;
  padding: 5px 5px;
  line-height: 40px;
  margin: 0;
}

.counter-wrapper input::-webkit-inner-spin-button,
.counter-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter-wrapper svg {
  display: flex;
}

.question-1-field {
  margin-top: 0;
}

.question {
  /* width: 14%; */
  margin: 0 auto;
}

.question label {
  margin-right: 50px;
}

.question input {
  width: 100%;
  max-width: 874px;
  height: 130px;
  text-align: left;
  padding: 10px 35px;
}

.btn {
  width: 100px;
  height: 45px;
  border-radius: 25px;
  margin-right: 13%;
  font-family: var(--sub-font-medium);
  text-align: center;
  padding: 5px;
}

.btn-2 {
  background-color: var(--bg-white) !important;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  border: 5px solid var(--border-lavender);
  font-family: var(--sub-font-bold);
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrap {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.region-fieldset .select-btn,
.btn {
  font-weight: 300;
}

@media (min-width: 1024px) {
  .wrap {
    padding: 25px 75px;
  }
  .add-wrap {
    margin: 35px auto;
  }

  .meetings-create label {
    display: flexbox;
    align-items: center;
    justify-content: left;
    margin-right: 15px;
  }

  .title-fieldset {
    display: flex;
  }
  .title-fieldset label {
    display: flex;
  }
  .context-fieldset {
    display: flex;
  }
  .context-fieldset label {
    display: flex;
  }

  .content-input {
    width: 100%;
    max-width: 864px;
  }

  .category-select {
    width: 190px;
    height: 45px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .category-fieldset {
    position: relative;
    display: flex;
  }

  .category-fieldset label {
    display: flex;
    align-items: center;
  }

  .category-fieldset svg {
    position: absolute;
    top: 35px;
    left: 150px;
  }

  .category-div {
    width: 400px;
  }

  .img-fieldset label {
    width: 50px;
  }
  .img-fieldset {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .ractingle-wrap {
    margin-top: 0;
  }

  .date-fieldset {
    display: flex;
  }

  .region-fieldset {
    width: 100%;
  }

  .region-label {
    min-width: 50px !important;
    line-height: 10px;
    display: flex;
  }

  .date-fieldset label {
    width: 50px;
    align-items: left;
    display: flex;
  }

  .count label {
    max-width: 50px;
    font-size: 10px;
  }

  .gender-fieldset label,
  .age-fieldset label,
  .date-fieldset label {
    min-width: 50px;
  }
  .question {
    max-width: 980px;
    margin: 0 auto;
  }

  .question input {
    width: 100%;
    max-width: 864px;
    text-align: left;
  }

  .question-1-field {
    display: flex;
    align-items: center;
  }

  .question-2-field {
    display: flex;
    align-items: center;
  }

  .age-fieldset svg {
    left: 125px;
  }

  .gender-fieldset svg {
    left: 125px;
  }

  .btn-wrap {
    display: flex;
    justify-self: center;
  }

  .btn-wrap .btn {
    width: 250px;
    margin-right: 100px;
  }

  .btn-2 {
    width: 250px;
    margin-right: 0;
  }
}

@media (max-width: 350px) {
  .age-fieldset {
    justify-content: center;
  }

  .age-select {
    position: relative;
  }

  .age-select svg {
    position: absolute;
    left: 63px;
  }
}
